@{
    ViewData["Title"] = "LOC_CountryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using AddEditDemo.Areas.LOC_Country.Models;
@model AddEditDemo.Areas.LOC_Country.Models.LOC_CountryModel
<div class="pagetitle">
    <div><h1>Country List</h1></div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="EMP_Employee" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Country List</li>
        </ol>
    </nav>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card responsive">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-11"><h3>Country List</h3></div>
                        <div class="col-md-1"><form method="post" asp-controller="LOC_Country" asp-action="Add"><button type="submit" class="btn btn-success">Add</button></form></div>
                    </div>
                    <br />
                    <partial name="_FilterCountry" />
                    <hr />
                    <!-- Table with stripped rows -->
                    <table class="table datatable text-center">
                        <thead >
                            <tr>
                                <th scope="col">CountryID</th>
                                <th scope="col">Country Name</th>
                                <th scope="col">State Count</th>
                                <th scope="col">City Count</th>
                                <th scope="col">Created</th>
                                <th scope="col">Modified</th>
                                <th scope="col" style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (LOC_CountryModel dr in ViewBag.Country)
                            {
                                <tr >
                                    <td scope="row">@dr.CountryID</td>
                                    <td scope="col">@dr.CountryName</td>
                                    <td scope="col"><a asp-controller="LOC_State" asp-action="SelectAll" asp-route-CountryID="@(Convert.ToInt32(dr.CountryID))">@dr.StateCount</a></td>
                                    <td scope="col"><a asp-controller="LOC_City" asp-action="SelectAll" asp-route-CountryID="@(Convert.ToInt32(dr.CountryID))">@dr.CityCount</a></td>
                                    <td scope="col">@Convert.ToDateTime(@dr.Created).ToString("dd-MM-yyyy")</td>
                                    <td scope="col">@Convert.ToDateTime(@dr.Modified).ToString("dd-MM-yyyy")</td>
                                    <td scope="col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form method="post" asp-controller="LOC_Country" asp-action="Add" asp-route-Countryid="@(Convert.ToInt32(dr.CountryID))">
                                                    <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr.CountryID)" />
                                                    <button type="submit" class="btn btn-secondary ">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                                                    <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr.CountryID)" />
                                                    <button onclick="return fun1()" type="submit" class="btn btn-danger">

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script>
        function fun1() {
            if (confirm("Are You Sure You Want To Delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    <script src="~/js/datatablejs.js"></script>
}

